body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_headerPanelMenu a, #headerPanelMenu_markup li a
{
   display: block;
   text-align: left;
   vertical-align: middle;
}
#wb_headerPanelMenu
{
   margin: 5px 0px 0px 0px;
}
#headerPanelMenu_markup
{
   display: none;
   margin: 0;
   padding: 20px 8px 65px 8px;
}
#headerPanelMenu_panel #headerPanelMenu_markup
{
   display: block;
}
#headerPanelMenu_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#headerPanelMenu_markup li a, #headerPanelMenu_markup li a:hover
{
   padding: 10px 15px 10px 15px;
   box-shadow: none;
}
#headerPanelMenu_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #2E2E2E;
}
#headerPanelMenu_panel
{
   display: none;
   position: absolute;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#headerPanelMenu_markup li a
{
   color: #FFFFFF;
   border: 0px solid #2E2E2E;
   background-color: #1F5F61;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
}
#wb_headerPanelMenu a
{
   color: #FFFFFF;
   border: 0px solid #2E2E2E;
   background-color: #1F5F61;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
}
#headerPanelMenu_markup li a:hover
{
   color: #FFFFFF;
   background-color: #193441;
   border: 0px solid #2E2E2E;
}
#wb_headerPanelMenu a:hover
{
   color: #FFFFFF;
   background-color: #193441;
   border: 0px solid #2E2E2E;
}
#headerPanelMenu_panel
{
   background-color: #1F5F61;
   overflow-y: auto;
}
#headerPanelMenu .line
{
   width: 32px;
   height: 6px;
   background: #FFFFFF;
   display: block;
   margin: 6px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#headerPanelMenu .line:first-child
{
   margin-top: 13px;
}
#headerPanelMenu.open .line
{
   -webkit-transition: margin 0.3s ease, transform 0.3s ease-in-out 0.4s;
   -moz-transition: margin 0.3s ease, transform 0.3s ease-in-out 0.4s;
   transition: margin 0.3s ease, transform 0.3s ease-in-out 0.4s;
}
#headerPanelMenu.open .line:nth-child(1)
{
   margin-top: 25px;
   -webkit-transform: rotate(225deg);
   -moz-transform: rotate(225deg);
   transform: rotate(225deg);
}
#headerPanelMenu.open .line:nth-child(2)
{
   opacity: 0;
}
#headerPanelMenu.open .line:nth-child(3)
{
   margin-top: -24px;
   -webkit-transform: rotate(135deg);
   -moz-transform: rotate(135deg);
   transform: rotate(135deg);
}
#headerPanelMenu
{
   line-height: 53px;
   width: 50px;
   height: 53px;
   position: absolute;
   z-index: 999;
}
#headerPanelMenu-footer
{
   bottom: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   left: 0;
   padding: 0px 0px 16px 0px;
   position: absolute;
   text-align: center;
   width: 100%;
}
#headerBreadcrumb
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 0;
   margin: 15px 0px 15px 0px;
   text-align: left;
}
#headerBreadcrumb > li
{
   display: inline-block;
   font-size: 16px;
}
#headerBreadcrumb a
{
   color: #101010;
   text-decoration: none;
}
#headerBreadcrumb a:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
#headerBreadcrumb > .active
{
   color: #777777;
}
#headerBreadcrumb > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Line2
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 37px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Line3
{
   border-color: #1F5F61;
   border-style: solid;
   border-bottom-width: 53px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 7px;
   line-height: 0px;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Shape1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#wb_Shape1 a img
{
   position: absolute;
   left: 0;
}
#wb_Shape1 .default
{
   position: absolute;
   left: 0;
}
#wb_Shape1 a .hover
{
   visibility: hidden;
}
#wb_Shape1 a:hover .hover
{
   visibility: visible;
}
#wb_Shape1 a:hover .default
{
   visibility: hidden;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 15px 0px 15px 0px;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon2
{
   height: 35px;
   width: 33px;
}
#FontAwesomeIcon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 33px;
   line-height: 35px;
   vertical-align: middle;
   width: 29px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #FFFFFF;
}
#wb_header
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #1F5F61;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2, #header > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2, #header > .row > .col-3
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 8.33333333%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 41.66666667%;
   text-align: center;
}
#header > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: right;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#header > .row > .col-1, #header > .row > .col-2, #header > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#searchInput
{
   border: 0px solid #E15E28;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 26px;
   padding: 4px 4px 4px 4px;
   margin: 15px 10px 15px 0px;
   text-align: left;
}
#searchInput:focus
{
   border-color: #E15E28;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(225,94,40,0.60);
   outline: 0;
}
#wb_searchClose
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 15px 0px 15px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_searchClose:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#searchClose
{
   height: 35px;
   width: 33px;
}
#searchClose i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 33px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#wb_searchClose:hover i
{
   color: #FFFFFF;
}
#wb_searchOpen
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 15px 0px 15px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:absolute;top:204px;
}
#wb_searchOpen:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#searchOpen
{
   height: 35px;
   width: 33px;
}
#searchOpen i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 33px;
   line-height: 35px;
   vertical-align: middle;
   width: 29px;
}
#wb_searchOpen:hover i
{
   color: #FFFFFF;
}
#wb_Shape2
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#wb_Shape2 a img
{
   position: absolute;
   left: 0;
}
#wb_Shape2 .default
{
   position: absolute;
   left: 0;
}
#wb_Shape2 a .hover
{
   visibility: hidden;
}
#wb_Shape2 a:hover .hover
{
   visibility: visible;
}
#wb_Shape2 a:hover .default
{
   visibility: hidden;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape3
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#wb_Shape3 a img
{
   position: absolute;
   left: 0;
}
#wb_Shape3 .default
{
   position: absolute;
   left: 0;
}
#wb_Shape3 a .hover
{
   visibility: hidden;
}
#wb_Shape3 a:hover .hover
{
   visibility: visible;
}
#wb_Shape3 a:hover .default
{
   visibility: hidden;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
